/tmp
/.las2peer
/log
/export
/config/i5.las2peer.services.monitoring.processing.MonitoringDataProcessingService.properties
/config/i5.las2peer.services.monitoring.processing.MonitoringDataProcessingService - mysql.properties
/output
/lib
/ivy/ivy.jar