/tmp
/node-storage
/log
/mobsos-data-processing/export
/output
/lib
/etc/ivy/ivy.jar
/service
/bin
/bin/*
.DS_Store
.DS_Store*
etc/launcher-configuration.ini
/.idea/
*.iml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
